<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Keep Alive</title>

    <style>
        body {
            background-color: black;
            color: white;
            font-family: Calibri, sans-serif;
        }
    </style>
</head>
<body>
    <div>
        SSO service is alive!
    </div>
</body>
</html>